
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactOne</title>
</head>
<body>
    <div> 
        <h3>@ViewBag.NewMessage</h3>
    </div>
</body>
</html>
