
@using Microsoft.AspNetCore.Http;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    @if (Context.Session.GetString("username") == null) 
    { 
         // Put Login Here
    }
    <h4>Welcome @Context.Session.GetString("username")!!</h4>
    <h4>You are successfully logged In..</h4>
    <a asp-controller="Account" asp-action="logout">Logout</a>
</body>
</html>
