
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" asp-controller="Account" asp-action="Login">
        <input type="text" name="username" placeholder="Enter Username Here.." />
        <input type="password" name="password" placeholder="Enter Password Here.." />
        <input type="submit" value="Login" />
        <input type="reset" value="Clear" />
    </form>
    <div>
        @ViewBag.ErrorMessage
    </div>
</body>
</html>
